<HTML>

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>My name is Roger</p>

</HTML>

